In [22]:
import pandas as pd

# 데이터프레임 생성
data = {'이름': ['Alice', 'Bob', 'Charlie'],
        '나이': [25, 30, 35],
        '성별': ['여성', '남성', '남성']}
df = pd.DataFrame(data)

# 데이터프레임 출력
print(df)

# 특정 열 선택
print(df['이름'])

# 특정 행 선택
print(df.loc[0])

# 조건에 따른 행 선택
print(df[df['나이'] > 30])

# 열 추가
df['직업'] = ['학생', '회사원', '교수']
print(df)

# 행 추가
new_row = pd.DataFrame({'이름': ['Dave'], '나이': [40], '성별': ['남성'], '직업': ['연구원']})
df = pd.concat([df, new_row], ignore_index=True)
print(df)

# 열 삭제
df = df.drop('직업', axis=1)
print(df)

# 행 삭제
df = df.drop(2)
print(df)

        이름  나이  성별
0    Alice  25  여성
1      Bob  30  남성
2  Charlie  35  남성
0      Alice
1        Bob
2    Charlie
Name: 이름, dtype: object
이름    Alice
나이       25
성별       여성
Name: 0, dtype: object
        이름  나이  성별
2  Charlie  35  남성
        이름  나이  성별   직업
0    Alice  25  여성   학생
1      Bob  30  남성  회사원
2  Charlie  35  남성   교수
        이름  나이  성별   직업
0    Alice  25  여성   학생
1      Bob  30  남성  회사원
2  Charlie  35  남성   교수
3     Dave  40  남성  연구원
        이름  나이  성별
0    Alice  25  여성
1      Bob  30  남성
2  Charlie  35  남성
3     Dave  40  남성
      이름  나이  성별
0  Alice  25  여성
1    Bob  30  남성
3   Dave  40  남성